<nav class="flex flex-wrap gap-4 sm:gap-8" aria-label="Trip navigation">
  <%= tab_link(@trip, "archive-box", "Overview") %>
  <%= tab_link(trip_links_path(@trip), "link", "Links", @trip.links.count) %>
  <%= tab_link(trip_invites_path(@trip), "plus", "Invitations", @trip.invites.valid_invites.count) %>
  <%= tab_link(members_trip_path(@trip), "users", "Members", @trip.trip_memberships.count) %>
</nav>
