<div id="<%= dom_id trip %>">
  <div class="flex items-center">
    <span class="text-sm font-medium text-gray-500 mr-2">Name:</span>
    <span class="text-lg font-semibold text-gray-900"><%= trip.name %></span>
  </div>
</div>
