<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="mb-4 p-4 text-red-700 bg-red-100 border border-red-300 rounded-md">
    <h2 class="text-sm font-medium mb-2">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul class="text-sm list-disc list-inside space-y-1">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
