<div id="<%= dom_id link %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">URL:</strong>
    <%= link_to link.url, link.url, target: "_blank", rel: "noopener", class: "text-blue-600 hover:text-blue-800 underline" %>
  </div>
</div>
